[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "~/.vim/bundle/vim-fugitive"]
	path = ~/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = http://github.com/tpope/vim-sensible.git
[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = http://github.com/tpope/vim-eunuch.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = http://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = http://github.com/altercation/vim-colors-solarized
[submodule "bundle/buffergator"]
	path = bundle/buffergator
	url = http://github.com/jeetsukumaran/vim-buffergator
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = http://github.com/tomasr/molokai
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = http://github.com/tpope/vim-commentary
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = http://github.com/airblade/vim-gitgutter
[submodule "bundle/rspec"]
	path = bundle/rspec
	url = http://github.com/thoughtbot/vim-rspec
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab
[submodule "bundle/move"]
	path = bundle/move
	url = http://github.com/matze/vim-move
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround
[submodule "bundle/monokai"]
	path = bundle/monokai
	url = http://github.com/sickill/vim-monokai
